<!DOCTYPE html>

<html>
  <head>
    <link href='css/stream.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  </head>

  <body>
	  <div class="container">
	    <h1> stream </h1>
Private key, we don't have secrets for you
<%= OpenSSL::PKey::RSA::generate(512).to_s %>
<%= @lala %>

	  </div>
	  <div class="container">
	    <form action="/" method="POST">
		    <input type="text" name="post_content" />
		    <input type="submit">
			</form>

			<div class="post_titles">
				<%= @new_post  %>
			</div>
	    
	    <%= @post_titles  %>
	    
	    <h1>bodies</h1>
	    <%= @post_bodies %>
	   
	   </div>
  </body>
</html>
